# docs available at http://docs.travis-ci.com/user/languages/php/
# example available at https://github.com/travis-ci/travis-ci-php-example

language: php

php:
  - 7.0
  - 5.6
  - 5.5
  - hhvm
  - 5.4
  - 5.3

addons:
  apt:
    packages:
      - libgeos-c1

matrix:
  allow_failures:
    - php: 5.4
    - php: 5.3
  fast_finish: true

env: GEOPHP_RUN_TESTS=1

install:
  - composer install
  # TODO Install geos library -- as a matrix test
  # TODO optionally set up a postgis database for testing

script:
  - mkdir -p "tests/logs/coverage/"
  - cd tests
  - phpunit --coverage-clover logs/coverage/clover.xml --verbose --colors --stderr tests
  - php test.php

after_script:
  - php ./vendor/bin/coveralls -v
